.favorites
    display: flex
    flex-direction: column
    padding-top: 20px
    padding-bottom: 40px
    &-title
        padding-top: 40px
        color: #0C0C0E
        font-family: Forum
        font-size: 40px
        font-style: normal
        font-weight: 400
        line-height: 40px
        letter-spacing: 2px
        text-transform: capitalize
        margin-bottom: 20px
    &-header
        display: flex
        flex-direction: column
        align-items: center
        margin-left: 0
        &__title
            color: #000
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 700
            line-height: normal
            margin-bottom: 40px
            margin-left: 20px
    &-radio
        margin-bottom: 40px
        &__input
            width: 0
            height: 0
            position: absolute
            opacity: 0
            z-index: -1
        &__label
            color: #000
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: normal
            margin-right: 60px
            cursor: pointer
            padding: 10px 10px 10px 10px
        &__custom
            display: inline-block
            position: relative
            width: 17px
            height: 17px
            background: #fff
            border: 2px solid #000
            border-radius: 50%
            margin-left: 10px
            margin-right: 10px
            vertical-align: middle
            &::before
                content: ''
                display: inline-block
                width: 7px
                height: 7px
                background: #000
                border-radius: 50%
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%) scale(0)
                transition: 0.2s ease-in
        &__input:checked+&__custom::before
            transform: translate(-50%, -50%) scale(1)
    &-staffs
        display: flex
        align-items: flex-start
        justify-content: space-between
        flex-wrap: wrap
        padding-left: 20px
    &-book1
        position: relative
        margin-left: 0
        margin-right: 260px
        margin-bottom: 40px
    &-book2
        position: relative
        margin-left: 0
        margin-bottom: 40px
    &-book3
        position: relative
        margin-left: 0
        margin-right: 260px
    &-book4
        position: relative
        margin-left: 0
    &-book
        &-image
            position: absolute
            top: 255px
            left: 390px
            right: -40px
        &-wrapper
            display: flex
            flex-direction: column
            flex-wrap: wrap
            align-content: flex-start
            padding-top: 15px
            padding-left: 20px
            padding-bottom: 15px
            width: 550px
            height: 555px
            padding-bottom: 0
            outline: 1px solid #000
            outline-offset: -1px
            background: #FFF
        &__title
            height: 40px
            color: #000
            font-family: Forum
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 40px
            letter-spacing: 2px
            text-transform: capitalize
            margin-bottom: 20px
            margin-left: 0
            &::after
                content: ""
                display: block
                width: 60px
                padding-top: 0px
                border-bottom: 1px solid #BB945F
        &__bookname
            color: #000
            font-family: Inter
            font-size: 15px
            font-style: normal
            font-weight: 700
            line-height: 40px
            letter-spacing: 2px
            text-transform: capitalize
            margin-bottom: 20px
            margin-left: 0
        &__lemma
            margin-left: 0
            width: 355px
            color: #000
            font-family: Inter
            font-size: 15px
            font-style: normal
            font-weight: 400
            line-height: 40px
            letter-spacing: 2px
            text-transform: capitalize
        &__button
            margin-top: auto
            margin-left: 0
            border-radius: 2px
            border: 1px solid #0C0C0E
            padding: 9px 27px
            background-color: #fff
            color: #0C0C0E
            text-align: center
            font-family: Inter
            font-size: 10px
            font-style: normal
            font-weight: 700
            line-height: normal
            letter-spacing: 1px
            margin-bottom: 15px
