.contacts
    background-color: #CFCFCF
    padding-top: 10px
    padding-bottom: 10px
    &-header
        color: #515151
    &-content
        display: flex
        justify-content: start
        padding-left: 30px
        color: #626262
        &__link
            text-decoration: none
            padding-right: 30px
