.education
    background: linear-gradient(#3b3b3b, #222)
    padding-top: 60px
    padding-bottom: 60px
    &-header
        color: #e1e1e1
        padding-bottom: 20px
    &-content
        padding-left: 30px
        color: #b1b1b1
