.experience
    background: linear-gradient(#515151, #3b3b3b)
    padding-top: 50px
    padding-bottom: 50px
    &-header
        color: #cfcfcf
    &-content
        padding-left: 30px
        color: #b1b1b1
