.header
    background-color: #fff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
    &-left
        &__fullname
            font-size: 40px
            line-height: 30px
        &__profession
            font-size: 20px
            line-height: 30px
.user
    display: flex
    align-items: center
    text-decoration: none
    &__avatar
        width: 100px
        height: 100px
        border-radius: 70%
        object-fit: cover
    &__name
        font-size: 20px
        line-height: 20px
.navbar
    background-color: #000
    &-menu
        list-style-type: none
        margin: 0
        padding: 30px 0px
        display: flex
        align-items: center
        justify-content: space-between
        &__link
            color: #fff
            text-decoration: none
            text-transform: uppercase
            font-size: 14px
            line-height: 18px
