.languages
    background-color: #222
    padding-top: 10px
    padding-bottom: 10px
    &-header
        color: #e1e1e1
    &-content
        padding-left: 30px
        display: flex
        justify-content: start
        color: #b1b1b1
        &__info
            padding-right: 30px
