.skills
    background: linear-gradient(#7e7e7e, #626262)
    padding-top: 50px
    padding-bottom: 50px
    &-header
        color: #222
    &-content
        padding-left: 30px
        display: flex
        justify-content: start
        color: #3b3b3b
        &__info
            padding-right: 30px
